<div class="footer">
    <div class="wrap footerContainer">
        <img src="../assets/images/logo.png" alt="" class="logo">
      <ul class="footerList">
        <li class="footerListItem">
          <p class="footerTitle">帳號</p>
          <a class="footerLink" href="#">註冊</a>
          <a class="footerLink" href="#">登入</a>
        </li>
        <li class="footerListItem">
          <p class="footerTitle">活動</p>
          <a class="footerLink" href="#">開啟活動</a>
          <a class="footerLink" href="#">參加活動</a>
        </li>
        <li class="footerListItem">
          <p class="footerTitle">探索</p>
          <a class="footerLink" href="#">寵物友善餐廳</a>
          <a class="footerLink" href="#">戶外景點</a>
        </li>
      </ul>
      <div class="footerIcons">
        <div class="footerIconBg">
          <a href="#"><span class="footerIcon material-symbols-outlined">mail</span></a>
        </div>
        <div class="footerIconBg">
          <a href="#"><span class="footerIcon material-symbols-outlined">mail</span></a>
        </div>
        <div class="footerIconBg">
          <a href="#"><span class="footerIcon material-symbols-outlined">mail</span></a>
        </div>
        <div class="footerIconBg">
          <a href="#"><span class="footerIcon material-symbols-outlined">mail</span></a>
        </div>
        <div class="footerIconBg">
          <a href="#"><span class="footerIcon material-symbols-outlined">mail</span></a>
        </div>
      </div>
      
      </div>
</div>