<footer>
    <a href="index.html"><img src="../assets/images/location/LOGO.svg" alt="PETSGO logo"></a>
    <div class="account">
        <h5>帳號</h5>
        <a href="#">註冊</a>
        <a href="#">登入</a>
    </div>
    <div class="activity">
        <h5>活動</h5>
        <a href="#">開啟活動</a>
        <a href="#">參加活動</a>
    </div>
    <div class="explore">
        <h5>探索</h5>
        <a href="#">友善寵物餐廳</a>
        <a href="#">戶外景點</a>
    </div>
    <div class="media">
        <a href="#"><img src="../assets/images/location/Group 7.svg" alt="PETSGO Facebook"></a>
        <a href="#"><img src="../assets/images/location/Group 8.svg" alt="PETSGO Twitter"></a>
        <a href="#"><img src="../assets/images/location/Group 9.svg" alt="PETSGO Instagram"></a>
        <a href="#"><img src="../assets/images/location/Group 10.svg" alt="PETSGO Email"></a>
        <a href="#"><img src="../assets/images/location/Group 11.svg" alt="PETSGO Address"></a>
    </div>
</footer>