<div class="header wrap">
    <img src="../assets/images/logo.png" alt="" class="logo">
    <input type="text" class="search">
    <ul class="navList">
      <li class="navListItem"><a class="navLink" href="#">我要開團</a></li>
      <li class="navListItem"><a class="navLink" href="#">開團列表</a></li>
      <li class="navListItem"><a class="navLink" href="#">增加地點</a></li>
      <li class="navListItem"><a class="navLink" href="user.html"><span class="material-symbols-outlined">account_circle</span></a></li>
    </ul>
</div>