<nav>
<a href="#"><img src="../assets/images/location/LOGO.svg" alt="logo"></a>
<div class="searchBox">
  <form>
    <label for="search"></label>
    <input type="search" id="search" name="search" placeholder="搜尋、餐廳、地標">
    <img src="../assets/images/location/FontAwsome (search).svg" alt="search">
  </form>
</div>
<div class="navbar">
    <a href="#">我要開團</a>
    <a href="#">開團列表</a>
    <a href="locationCreate.html">增加地點</a>
    <a href="user.html">登入/註冊</a>
</div>
</nav>