<nav class="search">
    <a href="#"><img src="../assets/images/location/LOGO.svg" alt="logo"></a>
      <form class="searchBox">
        <!-- 類型 -->
        <div class="type">
            <select>
                <option>找場地</option>
                option>找活動</option>
            </select>
        </div>
        <!-- 地點 -->
        <div class="city">
            <img src="/assets/images/location/FontAwsome (map-marker-alt).svg" alt="location pin">
            <select>
                <option>台北市</option>
                <option>台中市</option>
                <option>高雄市</option>
            </select>
        </div>
        <!-- 關鍵字 -->
        <div class="keyword">
            <label for="search"></label>
            <img src="../assets/images/location/FontAwsome (search).svg" alt="search image">
            <input type="search" id="search" name="search" placeholder="搜尋:關鍵字">
        </div>
        <!-- 按鈕 -->
        <a href="#" class="button">搜尋</a>
      </form>
    <div class="navbar">
        <a href="#">我要開團</a>
        <a href="#">開團列表</a>
        <a href="#">增加地點</a>
        <a href="user.html">登入/註冊</a>
    </div>
</nav>