// general
a{
    text-decoration: none;
    color: #000;
}
img{
    vertical-align: middle;
}
// nav
nav{
    display: flex;
    margin-left: 10%;
    max-width:1920px;
    padding: 64px 0;
    justify-content: space-between;
    align-items:center;
    background-color: transparent;
    a img{
        width: 298px;
    }
    .searchBox{
        display: flex;
        form{
            border-radius: 27px;
            padding: 16px;
            border: 1px solid #707070;
            width: 456px;
        input{
            border:none;
            width:93%;
            background-color: transparent;
        }
    }
    }
    .navbar{
        display: flex;
        gap:40px;
        a{
            font-size: 24px;
        }
    }
}