nav .search{
  background-color: #FFF3B4;
  margin: 0 auto;
  width: 100%;
}
.search .button{
  padding: 12px 50px;
  font-size: 24px;
  background-color: #F26835;
  text-align: center;
  color: white;
}