//general
.locaS p{
    line-height: 1.75;
}
.locaS img{
    width: auto;
}
// general 
.locaS .df{
    display: flex;
}
.locaS .m0-a{
    margin: 0 auto;
}
.locaS .m-0{
    margin: 0;
}
.locaS .orange{
    background-color: #F26835;
}
.locaS .pink{
    background-color: #F9A5A5;
}
.locaS .yellow{
    background-color: #F2DA5E;
}
.locaS .tiffanny{
    background-color: #9AD9C2;
}
.locaS .white{
    color: #fff;
}
//body
.backgroundColorLocaS{
       background-color:#FFF3B4;
       width: 100%;
       height: 940px;
       position: absolute;
       z-index: -1;
       background-image: url('/assets/images/locationSearch/Group\ 213.png');
        background-repeat: no-repeat;
        background-position-x: 80%;
        background-position-y: 120px;
    }
//header
header.locaS  {
    max-width: 1296px;
    margin: 0 auto;
    h1{
    font-size: 48px;
    font-weight: bold;
    padding-top: 124px;
    padding-bottom: 24px;
    }
    .tags{
        padding-bottom: 372px;
    }
}
//main
main{
    max-width: 1296px;
    margin: 0 auto;
}
// list ul
.locaS div{
    h2{
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 64px;
    }
}
.locaS div .list{
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 116px;
    ul{
        max-width: 380px;
        .photo{
            position: relative;
        }
        .tags{
            position:absolute;
            top:225px;
            left: 200px;
            display: flex;
            gap: 16px;
            span{
                background-color: #fff;
                padding: 10px 12px;
                outline:3px solid #9AD9C2;
                text-align: center;
            }
        }
        .heart{
            position: absolute;
            top: 12px;
            left:338px;
        }
        h3{
            font-size: 24px;
            color: #F26835;
            font-weight: bold;
            padding: 16px 0;
        }
        .info{
            gap: 12px;
            align-items: center;
            padding-bottom: 16px;
        }
        p{
            padding-top: 16px;
            border-top: 1px solid #000;
        }
    }
}
