.userEvenRight {
    width: 100%;
}

.userEventItem {
    display: flex;
    padding: 28px;
    border: 1px solid #707070;
    margin-bottom: 24px;
}

.userEventItemImg {
    width: 150px;
    height: 120px;
    object-fit: cover;
}

.userEventLocation {
    display: flex;
    align-items: center;
}

.userEventLocationIcon {
    width: 24px;
}