<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./layout/nav'); -%>
    <div class="eventNavbar">
        <nav>
            <ul class="df lsn">
                <li class="pos-relative"><a href="#" class="db pd-0-15 lh-60"><div class="clr-000">1.必要資訊</div></a></li>
                <li class="pos-relative"><a href="#" class="db pd-0-15 lh-60"><div class="clr-000">2.設定標籤</div></a></li>
                <li class="pos-relative"><a href="#" class="db pd-0-15 lh-60"><div class="clr-000">3.活動簡介</div></a></li>
                <li class="pos-relative"><a href="#" class="db pd-0-15 lh-60"><div class="pd-0-15 bgclr-F26835 clr-fff">4.頁面預覽</div></a></li>
                <li class="pos-relative"><a href="#" class="db pd-0-15 lh-60"><div class="clr-000">5.完成開團</div></a></li>          
            </ul>
        </nav>
    </div> 
    <div class="eventSloganOrange">
        <h1>全新開幕！招募毛友帶毛孩一起共襄盛舉！幫幫店家信心經營:)</h1>
    </div>
    <div class="formContainer">
        <div class="df jcsb">
            <div class="df aic">
                <img src="https://picsum.photos/350/250">
            </div>
            <div>
                <div class="df">
                    <div class="df ml-12"><img src="https://picsum.photos/20/20">收藏活動</div>
                    <div class="df ml-12"><img src="https://picsum.photos/20/20">加入日曆</div>
                </div>
                <div class="borderInfo">
                    <p>主辦人：路路</p>
                    <p>日期：2023-08-01</p>
                    <p>時間：10:00~17:00</p>
                    <p>地點：台北市中正區林森北路9巷13號 </p>
                    <p>參考店家：<span class="orange">浪浪別哭、此木咖啡</span></p>
                    <br><br>
                    <div class="df jcsb ml-12 mr-12">
                        <a href="#" class="btn btn-orange btn-mini">看google地圖</a>
                        <a href="#" class="btn btn-orange btn-mini">我要參加</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="borderSummary">
            <div class="df jcsb w-75">
                <div class="df ml-12"><img src="https://picsum.photos/20/20">主辦方請客</div>
                <div class="df ml-12"><img src="https://picsum.photos/20/20">300 / 人</div>
                <div class="df ml-12"><img src="https://picsum.photos/20/20">12/12 人</div>
                <div class="df ml-12"><img src="https://picsum.photos/20/20">7/16 隻</div>
            </div>
        </div>
        <br>
        <div class="borderSummary">
            <p>中和四號公園設備齊全，狗狗們在草地盡情跑步後也可以喝水</p>
        </div>
        <br>
        <div class="df jcsb w-75">
            <a href="#" class="btn btn-gray">上一步</a>
            <a href="#" class="btn btn-orange btn-px150">確認開團</a>
        </div>      
    </div>

    <%- include('./layout/callToAction'); -%>
    <%- include('./layout/footer'); -%>
    
</body>
</html>