<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETSGO</title>
</head>
<body>
    <%- include('./layout/navSearch'); -%>
    <div class="backgroundColor"></div>
    <header>
        <h1>場地搜尋結果</h1>
        <div class="tags">
            <a href="#"><p>台北市<img src="/petsgo/assets/images/locationSearch/FontAwsome (angle-down)-1.svg" alt="cancel"></p></a>
        </div>
    </header>
    <main class="locaS">
        <div class="recommendRestaurant">
            <h2>對毛孩友善的餐廳</h2>
            <div class="list df">
                <a href="#"><img src="/assets/images/locationSearch/FontAwsome (angle-down)-2.svg" alt="arrow left"></a>
                <a href="./location.html">
                    <ul>
                    <li class="photo">
                        <img src="/assets/images/locationSearch/Group 1.png" alt="店家照片">
                        <ul>
                            <li class="heart"><img src="/assets/images/locationSearch/love.svg" alt="heart"></li>
                            <li class="tags"><span>台北市</span><span>咖啡廳</span></li>
                        </ul>
                    </li>
                    <li><h3>浪浪別哭(台北店)</h3></li>
                    <li class="df info"><img src="/assets/images/location/FontAwsome (map-marker-alt).svg" alt="location pin"><h4>台北市，中正區</h4><span>|</span><img src="/assets/images/locationSearch/star4.svg" alt="rating star 4/5"></li>
                    <li><p>在我們的溫馨環境中，您可以品味咖啡的香醇，同時支 持領養活動，幫助流浪動物找到永遠的家。</p></li>
                    </ul>
                </a>
                <a href="./location.html">
                    <ul>
                    <li class="photo">
                        <img src="/assets/images/locationSearch/Group 1.png" alt="店家照片">
                        <ul>
                            <li class="heart"><img src="/assets/images/locationSearch/love.svg" alt="heart"></li>
                            <li class="tags"><span>台北市</span><span>咖啡廳</span></li>
                        </ul>
                    </li>
                    <li><h3>浪浪別哭(台北店)</h3></li>
                    <li class="df info"><img src="/assets/images/location/FontAwsome (map-marker-alt).svg" alt="location pin"><h4>台北市，中正區</h4><span>|</span><img src="/assets/images/locationSearch/star4.svg" alt="rating star 4/5"></li>
                    <li><p>在我們的溫馨環境中，您可以品味咖啡的香醇，同時支 持領養活動，幫助流浪動物找到永遠的家。</p></li>
                    </ul>
                </a>
                <a href="./location.html">
                    <ul>
                    <li class="photo">
                        <img src="/assets/images/locationSearch/Group 1.png" alt="店家照片">
                        <ul>
                            <li class="heart"><img src="/assets/images/locationSearch/love.svg" alt="heart"></li>
                            <li class="tags"><span>台北市</span><span>咖啡廳</span></li>
                        </ul>
                    </li>
                    <li><h3>浪浪別哭(台北店)</h3></li>
                    <li class="df info"><img src="/assets/images/location/FontAwsome (map-marker-alt).svg" alt="location pin"><h4>台北市，中正區</h4><span>|</span><img src="/assets/images/locationSearch/star4.svg" alt="rating star 4/5"></li>
                    <li><p>在我們的溫馨環境中，您可以品味咖啡的香醇，同時支 持領養活動，幫助流浪動物找到永遠的家。</p></li>
                    </ul>
                </a>
                <a href="#"><img src="/assets/images/locationSearch/FontAwsome (angle-down)-3.svg" alt="arrow right"></a>
                <div class="pagination"></div>
            </div>
        </div>
        <div class="recommendHotel">
            <h2>讓毛孩舒適休憩的旅宿</h2>
            <div class="list df">
                <a href="#"><img src="/assets/images/locationSearch/FontAwsome (angle-down)-2.svg" alt="arrow left"></a>
                <ul>
                    <li class="photo">
                        <img src="/assets/images/locationSearch/Group 1.png" alt="店家照片">
                        <ul>
                            <li class="heart"><img src="/assets/images/locationSearch/love.svg" alt="heart"></li>
                            <li class="tags"><span>台北市</span><span>民宿</span></li>
                        </ul>
                    </li>
                    <li><h3>翠林寵趣居</h3></li>
                    <li class="df info"><img src="/assets/images/location/FontAwsome (map-marker-alt).svg" alt="location pin"><h4>台北市，士林區</h4><span>|</span><img src="/assets/images/locationSearch/star5.svg" alt="rating star of 4/5"></li>
                    <li><p>在這裡，您的毛孩將享受寬敞的戶外空間和貼心的寵物 服務，讓您們一同度過美好的假期時光。</p></li>
                </ul>
                <ul>
                    <li class="photo">
                        <img src="/assets/images/locationSearch/Group 1.png" alt="店家照片">
                        <ul>
                            <li class="heart"><img src="/assets/images/locationSearch/love.svg" alt="heart"></li>
                            <li class="tags"><span>台北市</span><span>民宿</span></li>
                        </ul>
                    </li>
                    <li><h3>翠林寵趣居</h3></li>
                    <li class="df info"><img src="/assets/images/location/FontAwsome (map-marker-alt).svg" alt="location pin"><h4>台北市，士林區</h4><span>|</span><img src="/assets/images/locationSearch/star5.svg" alt="rating star 4/5"></li>
                    <li><p>在這裡，您的毛孩將享受寬敞的戶外空間和貼心的寵物 服務，讓您們一同度過美好的假期時光。</p></li>
                </ul>
                <ul>
                    <li class="photo">
                        <img src="/assets/images/locationSearch/Group 1.png" alt="店家照片">
                        <ul>
                            <li class="heart"><img src="/assets/images/locationSearch/love.svg" alt="heart"></li>
                            <li class="tags"><span>台北市</span><span>民宿</span></li>
                        </ul>
                    </li>
                    <li><h3>翠林寵趣居</h3></li>
                    <li class="df info"><img src="/assets/images/location/FontAwsome (map-marker-alt).svg" alt="location pin"><h4>台北市，士林區</h4><span>|</span><img src="/assets/images/locationSearch/star5.svg" alt="rating star 4/5"></li>
                    <li><p>在這裡，您的毛孩將享受寬敞的戶外空間和貼心的寵物 服務，讓您們一同度過美好的假期時光。</p></li>
                </ul>
                <a href="#"><img src="/assets/images/locationSearch/FontAwsome (angle-down)-3.svg" alt="arrow right"></a>
                <div class="pagination"></div>
            </div>
        </div>
        <div class="recommendSite">
            <h2>FUN 玩不受限的景點</h2>
            <div class="list df">
                <a href="#"><img src="/assets/images/locationSearch/FontAwsome (angle-down)-2.svg" alt="arrow left"></a>
                <ul>
                    <li class="photo">
                        <img src="/assets/images/locationSearch/Group 1.png" alt="店家照片">
                        <ul>
                            <li class="heart"><img src="/assets/images/locationSearch/love.svg" alt="heart"></li>
                            <li class="tags"><span>台北市</span><span>公園</span></li>
                        </ul>
                    </li>
                    <li><h3>悠樂樹屋寵物公園</h3></li>
                    <li class="df info"><img src="/assets/images/location/FontAwsome (map-marker-alt).svg" alt="location pin"><h4>台北市，圓山區</h4><span>|</span><img src="/assets/images/locationSearch/star5.svg" alt="rating star 4/5"></li>
                    <li><p>這裡有寬敞的草地、設施豐富的寵物遊戲區，以及友善 的工作人員，讓您的寵物可以盡情奔跑、玩樂，與其他 毛孩交朋友。</p></li>
                </ul>
                <ul>
                    <li class="photo">
                        <img src="/assets/images/locationSearch/Group 1.png" alt="店家照片">
                        <ul>
                            <li class="heart"><img src="/assets/images/locationSearch/love.svg" alt="heart"></li>
                            <li class="tags"><span>台北市</span><span>公園</span></li>
                        </ul>
                    </li>
                    <li><h3>悠樂樹屋寵物公園</h3></li>
                    <li class="df info"><img src="/assets/images/location/FontAwsome (map-marker-alt).svg" alt="location pin"><h4>台北市，圓山區</h4><span>|</span><img src="/assets/images/locationSearch/star5.svg" alt="rating star 4/5"></li>
                    <li><p>這裡有寬敞的草地、設施豐富的寵物遊戲區，以及友善 的工作人員，讓您的寵物可以盡情奔跑、玩樂，與其他 毛孩交朋友。</p></li>
                </ul>
                <ul>
                    <li class="photo">
                        <img src="/assets/images/locationSearch/Group 1.png" alt="店家照片">
                        <ul>
                            <li class="heart"><img src="/assets/images/locationSearch/love.svg" alt="heart"></li>
                            <li class="tags"><span>台北市</span><span>公園</span></li>
                        </ul>
                    </li>
                    <li><h3>悠樂樹屋寵物公園</h3></li>
                    <li class="df info"><img src="/assets/images/location/FontAwsome (map-marker-alt).svg" alt="location pin"><h4>台北市，圓山區</h4><span>|</span><img src="/assets/images/locationSearch/star5.svg" alt="rating star 4/5"></li>
                    <li><p>這裡有寬敞的草地、設施豐富的寵物遊戲區，以及友善 的工作人員，讓您的寵物可以盡情奔跑、玩樂，與其他 毛孩交朋友。</p></li>
                </ul>
                <a href="#"><img src="/assets/images/locationSearch/FontAwsome (angle-down)-3.svg" alt="arrow right"></a>
                <div class="pagination"></div>
            </div>
        </div>
    </main>



    <%- include('./layout/callToAction'); -%>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>
</html>